<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simple.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Simple.Properties.Settings>
            <setting name="objSim" serializeAs="String">
                <value />
            </setting>
            <setting name="objSO" serializeAs="String">
                <value />
            </setting>
            <setting name="maxCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="maxCaminante" serializeAs="String">
                <value />
            </setting>
            <setting name="simValue" serializeAs="String">
                <value />
            </setting>
            <setting name="sim100" serializeAs="String">
                <value />
            </setting>
            <setting name="sim120" serializeAs="String">
                <value />
            </setting>
            <setting name="sim150" serializeAs="String">
                <value />
            </setting>
            <setting name="soValue" serializeAs="String">
                <value />
            </setting>
            <setting name="psrReq" serializeAs="String">
                <value />
            </setting>
            <setting name="so120" serializeAs="String">
                <value />
            </setting>
            <setting name="so150" serializeAs="String">
                <value />
            </setting>
            <setting name="volCommision" serializeAs="String">
                <value />
            </setting>
        </Simple.Properties.Settings>
    </userSettings>
</configuration>